PAYTR_MERCHANT_ID=
PAYTR_MERCHANT_KEY=
PAYTR_MERCHANT_SALT=
PAYTR_TEST_MODE=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
JWT_SECRET=
ADMIN_API_KEY=
RESEND_API_KEY=
ADMIN_ORDER_EMAIL=
DATABASE_URL=
SITE_URL=
WA_NUMBER=
BANK_IBAN=
CRON_SECRET=
ALLOW_REVIEW_SEEDING=
